<div class="hidden" ng-cloak av-affix-bottom ng-if="!float" class="footer-wrapper">
    <nav class="container footer-container row" role="navigation">
        <i ng-i18next="[html:i18next]({url: configService.organization.orgUrl, name: configService.organization.orgName})avCommon.poweredBy">
        </i>
    </nav>
</div>

<div ng-if="!!float" class="footer-wrapper">
    <nav class="container footer-container row" role="navigation">
        <i ng-i18next="[html:i18next]({url: configService.organization.orgUrl, name: configService.organization.orgName})avCommon.poweredBy">
        </i>
    </nav>
</div>
 