.confirm-modal-controller {
    display: flex;
    flex-direction: column;

    .modal-header {
        background-color: var(--light-bg-color);
        padding: 12px 19px;
    }

    .modal-title {
        font-size: 16px;
    }

    .glyphicon.glyphicon-warning-sign {
        color: var(--error-darker-color);
        margin-right: 13px;
    }

    .modal-body {
        padding: 16px 48px 0 48px;
    }

    ul {
        padding-left: 14px;
    }

    .btn {
        width: 100%;
        padding: 11px;
    }

    .btn.btn-success {
        background-color: var(--action-primary-color);
    }

    .btn.btn-cancel {
        background-color: var(--error-darker-color);
    }
}