[av-login] {
  padding: 60px 0 40px 0;

  .loginheader {
    margin-bottom: 30px;
    color: @av-secondary;
    text-align: center;
    position: relative;
  }

  .header-text {
    position: relative;
    padding: 0 8px;
    z-index: 10;
    background-color: white;
  }

  .divider {
    position: absolute;
    height: 0px;
    left: 81px;
    right: 80px;
    top: calc(50% - 0px/2);
    border: 1px solid #4B5768;
  }

  label {
    font-weight: normal;
  }

  .error.text-danger.ng-binding.ng-scope {
    white-space: normal;
  }

  .help-h3 {
    margin-top: 0;
  }

  .input-warn {
    display: block;
    min-height: 38px;
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.form-horizontal {
  .col-sm-offset-4.col-sm-8.button-group {
    padding-right: 0px;
    padding-left: 10px;
    margin-top: -20px;

    .btn {
      padding: 8px;
      font-size: 20px;
    }
  }
  .input-error {
    min-height: 20px;
  }

  .census-query, .otl-auth {
    padding-top: 20px;
    font-size: 16px;

    .input-success .text-success {
      color: green;
    }
  }
}


@media (max-width: @screen-sm-max) {
  .form-horizontal .col-sm-offset-4.col-sm-8.button-group {
    padding-left: 0px;
  }
}
