<div class="container-login" ng-if="!isOpenId">
  <div class="row">
    <div class="col-sm-12 loginheader">
        <h3
          class="tex-center login-header-text"
          ng-if="!isAdmin && !isOtl && !isCensusQuery"
          ng-i18next="[i18next]({name: orgName})avRegistration.loginHeader">
        </h3>
        <h3
          class="tex-center login-header-text"
          ng-if="isAdmin && !isOtl"
          ng-i18next="[i18next]avRegistration.adminLoginHeader">
        </h3>
        <h3
          class="tex-center login-header-text"
          ng-if="!!isCensusQuery"
          ng-i18next="avRegistration.censusQueryHeader">
        </h3>
        <h3
          class="tex-center login-header-text"
          ng-if="isOtl"
          ng-i18next="avRegistration.otlHeader">
        </h3>
        <div
          class="text-success"
          ng-if="!!successfulRegistration"
          ng-i18next="[html:i18next]avRegistration.loginAfterRegistration"
          >
        </div>
    </div>
    
    <!-- Shows the alternative auth method tabs in case there's any -->
    <div class="col-sm-12 alternative-auth-methods-tabs" ng-if="alternative_auth_methods">
      <ul class="nav nav-tabs">
        <li 
          class="default-auth-method"
          ng-class="{'active': current_alt_auth_method_id == null}"
        >
          <a
            ng-click="setCurrentAltAuthMethod(null)"
          >
            <i class="fa fa-user"></i>
            <span ng-i18next="avRegistration.defaultAuthMethod"></span>
          </a>
        </li>
        <!-- we disable click for smart-link unless it comes from a smart-link,
          because it doesn't work -->
        <li
          ng-repeat="alt_auth_method in alternative_auth_methods"
          ng-class="{'active': current_alt_auth_method_id == alt_auth_method.id, 'disabled': selectedAltMethod !== 'smart-link' && alt_auth_method.auth_method_name === 'smart-link'}"
        >
          <a ng-click="setCurrentAltAuthMethod(alt_auth_method)">
            <i
              ng-if="alt_auth_method.icon"
              class="{{alt_auth_method.icon}}"
              ></i>
            <span>
              {{getAltAuthMethodName(alt_auth_method)}}
            </span>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-sm-12" ng-if="method !== 'openid-connect'">
        <form name="form" id="loginForm" role="form" class="form-horizontal">
            <div
              ng-repeat="field in login_fields"
              avr-field
              index="{{$index+1}}"
              ng-if="(field.steps === undefined || field.steps.indexOf(currentFormStep) !== -1) && otlStatus !== 'success'">
            </div>

          <div class="button-group">
              <div class="input-error" ng-if="!isCensusQuery">
                <div
                  class="error text-danger"
                  role="alert"
                  ng-if="error"
                  ng-bind-html="error"
                ></div>
              </div>
              <div class="input-warn">
                <div class="warn-box" ng-if="!form.$valid || sendingData" >
                  <span class="glyphicon glyphicon-warning-sign"></span>
                  <div
                    role="alert"
                    ng-i18next>
                    avRegistration.fillValidFormText
                  </div>
                </div>
              </div>
              <button
                type="submit"
                class="btn btn-block btn-lg btn-success-action"
                ng-if="!isCensusQuery && !isOtl"
                ng-i18next="avRegistration.loginButton"
                ng-click="loginUser(form.$valid)"
                tabindex="0"
                ng-disabled="!form.$valid || sendingData">
              </button>
              <button
                type="submit"
                class="btn btn-block btn-lg btn-success-action"
                ng-if="isCensusQuery"
                ng-i18next="avRegistration.checkCensusButton"
                ng-click="checkCensus(form.$valid)"
                tabindex="0"
                ng-disabled="!form.$valid || sendingData">
              </button>
              <button
                type="submit"
                class="btn btn-block btn-lg btn-success-action"
                ng-if="isOtl && otlStatus !== 'success'"
                ng-i18next="avRegistration.otlButton"
                ng-click="otlAuth(form.$valid)"
                tabindex="0"
                ng-disabled="!form.$valid || sendingData">
              </button>

              <div class="otl-auth" ng-if="isOtl">
                  <div
                    class="input-info"
                    ng-if="otlStatus == 'querying'">
                      <div
                        class="text-info"
                        ng-i18next="avRegistration.otlStatus.querying">
                      </div>
                  </div>
                  <div
                    class="input-success"
                    ng-if="otlStatus == 'success'">
                      <div
                        class="success text-success"
                        ng-i18next="[html:i18next]({code: otpCode})avRegistration.otlStatus.success">
                      </div>
                  </div>
                  <div
                    class="input-success"
                    ng-if="otlStatus == 'fail'">
                      <div
                        class="error text-danger"
                        role="alert"
                        ng-i18next="[html]avRegistration.otlStatus.fail">
                      </div>
                  </div>
              </div>

              <div class="census-query" ng-if="isCensusQuery">
                  <div
                    class="input-info census-query"
                    ng-if="censusQuery == 'querying'">
                      <div
                        class="text-info"
                        ng-i18next="avRegistration.censusQuerying">
                      </div>
                  </div>
                  <div
                    class="input-success census-query"
                    ng-if="censusQuery == 'success'">
                      <div
                        class="success text-success"
                        ng-i18next="[html]avRegistration.censusSuccess">
                      </div>
                  </div>
                  <div
                    class="input-success census-query"
                    ng-if="censusQuery == 'fail'">
                      <div
                        class="error text-danger"
                        role="alert"
                        ng-i18next="[html]avRegistration.censusFail">
                      </div>
                  </div>
              </div>
          </div>
        </form>
    </div>

    <div
      class="col-sm-5 col-sm-offset-1 hidden-xs not-registered-yet"
      ng-if="registrationAllowed && !isCensusQuery && method !== 'openid-connect' && !isOtl">
      <h3
        class="help-h3"
        ng-i18next="avRegistration.notRegisteredYet">
      </h3>
      <p>
        <a
          ng-if="!isAdmin"
          href="/election/{{election.id}}/public/register"
          ng-i18next="avRegistration.registerHere"
          ng-click="goSignup()"
          tabindex="0">
        </a>
        <br/>
        <a
          ng-if="isAdmin"
          href="{{ signupLink }}"
          ng-i18next="avRegistration.registerHere"
          tabindex="0">
        </a>
        <br/>
        <span ng-i18next="avRegistration.fewMinutes"></span>
      </p>
    </div>

    <div class="col-sm-12 text-center oidc-section" ng-if="method === 'openid-connect'">
        <p
          class="oidc-login-description"
          ng-i18next="[html]avRegistration.openidLoginDescription"
        ></p>
        <span
          ng-repeat="provider in current_oidc_providers"
          class="provider-span"
        >
          <button
            ng-click="openidConnectAuth(provider)"
            alt="{{provider.public_info.description}}"
            tabindex="0"
            class="btn btn-block btn-lg btn-success-action provider-btn"
            ng-class="{provider.public_info.id: true]}"
          >
            <img
              ng-if="!!provider.public_info.icon"
              alt="{{provider.public_info.description}}"
              class="logo-img"
              ng-src="{{provider.public_info.icon}}"
            />
            {{provider.public_info.title}}
        </button>
        </span>
    </div>
  </div>
</div>

