<div 
    ng-repeat="category in children_election_info.presentation.categories"
    class="row"
>
    <div class="col-xs-12">
        <h4>{{category.title}}</h4>
        <div 
            ng-repeat="election in category.events" 
            class="btn btn-success btn-election"
            ng-disabled="election.disabled"
            data-election-id="{{election.event_id}}"
            ng-click="click(election)"
        >
            <i
                class="fa-fw fa" 
                ng-class="{'fa-square-o': !election.data, 'fa-check-square-o': election.data}"
                aria-hidden="true">
            </i>
            {{election.title}}
        </div>
    </div>
</div>