[av-children-elections] {
    .btn-lg {
        font-size: 18px;
        margin-top: 14px;
        margin-bottom: 14px;
    }

    .btn-election {
        border: 2px solid @av-bg;
        display: flex;
        flex-direction: row;
        padding: 19px 38px;
        align-items: center;
        gap: 21px;
        color: @av-primary-contrast;

        &:hover {
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
          background-color: @av-bg;
        }

        &:active {
            color: @av-primary-contrast !important;
            border: 1px solid @brand-success;
        }

        &:focus {
            color: @brand-success;
            border: 2px solid @brand-success;
        }

        .selected {
            border: 2px solid @state-success-text;
            background-color: @av-primary;
        }
    }

    .text-container {
        flex-grow: 2;
        text-align: left;
    }

    .election-voted {
        color: @state-success-text;
    }

    .election-not-voted {
        color: @error-primary-color;
    }

    .election-status-open {
        background-color: @state-success-text;
        color: @av-primary-contrast;
        font-weight: 700;
        text-transform: uppercase;
        min-width: 85px;
    }

    .election-status-closed {
        background-color: @error-primary-color;
        color: @bg-primary;
        font-weight: 700;
        text-transform: uppercase;
        min-width: 85px;
    }

    .election-dates {
        text-align: left;
        font-size: 16px;
        margin-right: 35px;
    }

    /*.category {

    }

    .btn-election {
        margin: 8px 8px 8px 0;

        &.selected {
            background-color: #373737;
        }
    }

    h3 {
        font-size: 18px;
    }*/
}