<div 
    class="row"
    ng-if="mode === 'toggle-and-callback'"
>
    <div class="col-xs-12"> 
        <div 
            class="btn btn-success btn-election"
            ng-class="{'selected': selectedElectionId === parentElectionId}"
            ng-click="click({event_id: parentElectionId})"
        >
            <span ng-i18next>
                avAdmin.childrenElections.main
            </span>
        </div>
    </div>
</div>

<div 
    ng-repeat="category in childrenElectionInfo.presentation.categories"
    class="row"
>
    <div class="col-xs-12">
        <h4>{{category.title}}</h4>
        <div 
            ng-repeat="election in category.events" 
            class="btn btn-success btn-election"
            ng-disabled="election.disabled"
            ng-class="{'selected': selectedElectionId === election.event_id}"
            data-election-id="{{election.event_id}}"
            ng-click="click(election)"
        >
            <i
                ng-if="mode === 'checkbox'"
                class="fa-fw fa" 
                ng-class="{'fa-square-o': !election.data, 'fa-check-square-o': !!election.data}"
                aria-hidden="true">
            </i>
            {{election.title}}
        </div>
    </div>
</div>