<div 
    ng-repeat="category in children_election_info.presentation.categories"
    class="row"
>
    <div class="col-xs-12">
        <h4>{{category.title}}</h4>
        <div 
            ng-repeat="election in category.events" 
            class="label label-default btn-election"
            ng-disabled="election.disabled"
            data-election-id="{{election.event_id}}"
        >
            <input 
                type="checkbox"
                ng-model="election.data"
            />
            {{election.title}}
        </div>
    </div>
</div>