<div
    class="form-group"
    ng-class="{true: 'has-error',false: 'is-required'}[form.passwordText.$dirty && form.passwordText.$invalid]"
>
    <label
        id="label-passwordText"
        for="passwordText"
        class="control-label col-sm-4"
    >
        <span
            ng-i18next="avRegistration.passwordLabel"
        ></span>
    </label>
    <div class="col-sm-8">
        <input
            type="password"
            aria-labeledby="label-passwordText"
            class="form-control"
            ng-model="field.value"
            id="passwordText"
            autocomplete="off"
            ng-disabled="field.disabled"
            ng-i18next="[placeholder]avRegistration.passwordPlaceholder"
            tabindex="0"
            required
        />
        <p class="help-block">
            <a
                href="#"
                ng-if="!field.help || field.help.length == 0"
                ng-i18next="avRegistration.forgotPassword"
                ng-click="forgotPassword()"
                tabindex="0"
            ></a>
            <p
                class="help-block"
                ng-if="!!field.help && field.help.length > 0"
                ng-bind-html="field.help | addTargetBlank"
            ></p>
        </p>
        <div class="input-error">
            <small
                role="alert"
                class="error text-danger"
                ng-show="form.$submitted && form.$invalid"
                ng-i18next="avRegistration.invalidCredentials"
            ></small>
        </div>
    </div>
</div>