<ng-form name="fieldForm">
  <div
    class="form-group"
    ng-class="{'has-error': fieldForm.input.$dirty && fieldForm.input.$invalid}">
    <label id="label-image-field" for="image-field" class="control-label col-sm-4">
      <span>{{field.name}}</span>
    </label>
    <div class="col-sm-8">
      <input
        type="file"
        name="image"
        id="image-field"
        aria-labeledby="label-image-field"
        class="form-control"
        ng-disabled="field.disabled"
        tabindex="0"
        ng-required={{field.required}} />
      <p
          class="help-block"
          ng-if="!field.help || field.help.length === 0"
          ng-i18next="avRegistration.imageHelp"
      ></p>
      <p
          class="help-block"
          ng-if="!!field.help && field.help.length > 0"
          ng-bind-html="field.help | addTargetBlank"
      ></p>
      <div class="input-error">
        <span
          class="error text-brand-danger"
          role="alert"
          ng-show="fieldForm.input.$dirty && fieldForm.input.$invalid"
          ng-i18next="avRegistration.invalidImage"></span>
      </div>
    </div>
  </div>
</ng-form>
