<div class="form-group">
    <label>
        <input
            type="checkbox"
            class="form-control"
            aria-labeledby="label-{{index}}Text"
            id="{{index}}Text"
            ng-model="field.value"
            ng-disabled="field.disabled"
            tabindex="0"
            ng-required={{field.required}} />
    </label>
    <div class="bool-text-content">
        <label class="text-left" for="{{index}}Text" id="label-{{index}}Text">
          <span ng-bind-html="field.name | addTargetBlank"></span>
        </label>
        <p class="help-block" ng-if="field.help" ng-bind-html="field.help | addTargetBlank">
        </p>
        <div class="input-error">
        </div>
    </div>
</div>
