[av-change-lang] {
  display: inline-block;
  padding-left: 8px;

  .fa-language {
    line-height: 31px;
    font-size: 29px;
    vertical-align: -20%;
    margin-right: 10px;
    color: #191D23;
    color: var(--light-text-color);
  }

  &:hover {
    background-color: lightgray;
  }

  > a:hover {
    text-decoration: none;
  }

  .dropdown-menu li a {
    color: @gray;

    &:hover {
      color: @gray-dark;
    }
  }
}