<div class="form-group">
    <label id="{{code_id}}-code" for="{{code_id}}" ng-i18next="avRegistration.codeLabel"></label>
    <div>
        <input
            type="text"
            class="form-control"
            aria-labeledby="{{code_id}}-code"
            id="{{code_id}}"
            ng-model="field.value"
            ng-disabled="field.disabled"
            tabindex="0"
            autocomplete="off"
            value=""
            ng-class="{'filled': form[code_id].$viewValue.length > 0}"
            minlength="8"
            maxlength="9"
            ng-pattern="codePattern"
            name="{{code_id}}"
            ng-i18next="[placeholder]avRegistration.codePlaceholder"
            required />
        <p
            class="help-block"
            ng-if="!field.help || field.help.length === 0"
            ng-i18next="avRegistration.codeHelp">
        </p>
        <p
            class="help-block"
            ng-if="!!field.help && field.help.length > 0"
            ng-bind-html="field.help | addTargetBlank"
        ></p>
        <p class="help-block code-help">
          <span ng-if="allowUserResend && showResendAuthCode() && !sendingData && ((method !== 'sms' && method !== 'sms-otp') || isValidTel)">
            <b ng-i18next="avRegistration.noCodeReceivedQuestion"></b>
            <a
              ng-click="resendAuthCode(field)"
              ng-i18next="avRegistration.sendCodeAgain">
            </a>
          <span>
        </p>
        <div class="input-error">
        </div>
    </div>
</div>
