<div class="form-group">
    <label for="{{code_id}}" class="control-label col-sm-4" ng-i18next="avRegistration.codeLabel"></label>
    <div class="col-sm-8">
        <input
            type="text"
            class="form-control"
            aria-label="{{code_id}}-code"
            id="{{code_id}}"
            ng-model="field.value"
            ng-disabled="field.disabled"
            tabindex="{{index}}"
            autocomplete="off"
            value=""
            ng-class="{'filled': form[code_id].$viewValue.length > 0}"
            minlength="8"
            maxlength="9"
            ng-pattern="codePattern"
            name="{{code_id}}"
            ng-i18next="[placeholder]avRegistration.codePlaceholder"
            required />
        <p class="help-block" ng-i18next="avRegistration.codeHelp">
        <p class="help-block code-help">
          <span ng-if="allowUserResend && showResendAuthCode() && !sendingData && (('sms' !== method && 'sms-otp' !== method) || isValidTel)">
            <b ng-i18next="avRegistration.noCodeReceivedQuestion"></b>
            <a
              ng-click="resendAuthCode(field)"
              ng-i18next="avRegistration.sendCodeAgain">
            </a>
          <span>
        </p>
        <div class="input-error">
        </div>
    </div>
</div>
