<div class="form-group">
    <label id="label-input{{index}}" for="input{{index}}" ng-i18next="avRegistration.telLabel"></label>
    <div>
        <input
            type="tel"
            class="form-control phone-login"
            aria-labeledby="label-input{{index}}"
            id="input{{index}}"
            ng-disabled="field.disabled"
            tabindex="0"
            name="input{{index}}"
            required />
        <p 
            class="help-block"
            ng-if="!field.help || field.help.length === 0"
            ng-i18next="avRegistration.telHelp"
        ></p>
        <p
            class="help-block"
            ng-if="!!field.help && field.help.length > 0"
            ng-bind-html="field.help | addTargetBlank"
        ></p>
        <p
            class="text-warning"
            ng-if="'sms-otp' === method"
            ng-i18next="avRegistration.otpHelp"
        ></p>
        <div class="input-error">
          <span class="error" ng-show="!isValidNumber" ng-i18next="avRegistration.telInvalid"></span>
        </div>
    </div>
</div>
