[avr-tel-field] {
  .ng-invalid-pattern {
    border-color: @btn-danger-border;
  }

  .code-help span {
    transition: .4s all;
  }
}

.iti-flag {
  background-image: url("../../img/flags.png") !important;
}

.phoneSignUp.error {
  border-color: #ff0000;
}

.intl-tel-input.allow-dropdown
{
 margin-top: 12px !important;
 margin-bottom: -18px !important;
 width: 100%;
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-2 .selected-flag
{
 width: 90px;
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 .selected-flag
{
 width: 98px;
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 .selected-flag
{
 width: 108px;
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-5 .selected-flag
{
 width: 120px;
}
.intl-tel-input .country-list {
 max-height: 145px;
 max-width: 420px;
}
.intl-tel-input .selected-flag .iti-arrow {
 position: absolute;
 top: 50%;
 margin-top: -2px;
 right: 6px;
 width: 0;
 height: 0;
 border-left: 6px solid transparent;
 border-right: 6px solid transparent;
 border-top: 8px solid #555;
}